{{> header usuario}}

<body id="bodyprincipal">

    <div id="titulo">
        <div id="titulo2">
        </div>
        <h1>COCKTAIL MENU</h1>

    </div>

    <div class="container text-center" id="cocteles">
        <div class="row aling-items-end justify-content-between" id="contenedor">
            <div class="12">
                {{#if palab}}
                <h2 id="principalmensaje">C칩cteles que contienen {{palab.alcohol}}</h2>
                {{/if}}
                <form class="d-flex" role="search" action="/search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Buscar por alcohol" aria-label="Search"
                        autocomplete="off" name="alcohol">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
            {{#each coctel}}
            <div class="col-3 m-5" style=" background-color: rgba(77, 76, 74, 0.5)" id="coctel">
                <img src="{{imageUrl}}" class="card-img-top" alt="Imagen del c칩ctel">
                <div class="card-body" id="card-body">
                    <h4 class="card-title"> {{name}}</h4>
                    <a href="informacion/{{_id}}" class="btn">M치s informaci칩n</a>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
    <div id="primeraSeccion">


    </div>

</body>