{{> header usuario}}



<div id="signin">
    <form action="/crear" method="POST" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre del cocktail" name="name" autocomplete="off">
            <label for="floatingInput">Nombre del cocktail</label>
        </div>
        <div class="form-floating mb-3 w-20 d-inline-block">
            <input type="text" class="form-control" autocomplete="off" id="floatingPassword" placeholder="Alcohol" name="alcohol">
            <label for="floatingPassword">Alcohol Principal</label>
        </div>
        <div class="form-floating mb-3 w-20 d-inline-block">
            <input type="text" class="form-control" autocomplete="off" id="floatingPassword" placeholder="Alcohol" name="alcohol">
            <label for="floatingPassword">Alcohol Secundario</label>
        </div>
        <div class="form-floating mb-3 w-20 d-inline-block">
            <input type="text" autocomplete="off" class="form-control" id="floatingPassword" placeholder="Alcohol" name="alcohol">
            <label for="floatingPassword">Otro Alcohol</label>
        </div>
        <div class="form-floating mb-3 w-20 d-inline-block">
            <input type="text" class="form-control" autocomplete="off" id="floatingPassword" placeholder="Alcohol" name="alcohol">
            <label for="floatingPassword">Otro Alcohol</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" autocomplete="off" id="floatingPassword" placeholder="Ingredientes"
                name="ingredientes">
            <label for="floatingPassword"> Ingredientes</label>
        </div>
<div class="form-group">
    <label>Preparación del cóctel
        <textarea name="procedimiento" cols="30" rows="4" class="form-control" autocomplete="off" style="width: 90vw;"></textarea>
    </label>
</div>
<div class="form-group">
    <label>Descripción del cóctel
        <textarea name="descripcion" autocomplete="off" cols="30" rows="4" class="form-control" style="width: 90vw;"></textarea>
    </label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="origen">
    <label for="floatingInput" autocomplete="off">Origen</label>
</div>
        <div class="form-group">
            <label>Sube tu imagen:
                <input type="file" name="coctel-cover-image" class="form-control-file" />
            </label>
        </div>
       
       
       

        <button type="submit" class="btn btn-primary">Sube tu creación</button>
    </form>
</div>